.jumbotron {
  color: #ffffff;
  background-color: transparent !important;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-image: url("../images/Metamoris-42.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
hr {
  border-color: inherit;
  margin: 1em 0;
}
.Mntitle {
  color: white;
}
#resultsModal img {
  overflow: hidden;
  width: 500px;
}
h1,
h2,
h3,
h4,
h5,
p,
a {
  color: white;
}
